*{
	margin-left: 25px;
	margin-right: 25px;
	padding: 0;
}



button{
	font-family: Gill Sans, sans-serif;
	letter-spacing: 2px;
	color: black;
	font-size: 14px;
	margin: 10px;
	height: 58px;
	width: 620px;
	background: #F08080;
	border: solid #F08080;
	border-radius: 100px;
	padding: 10px;

}

.result{
	color: #FA8072;
	font-size: 25px;
	font-weight: 700px;
	text-align: center;
	padding: 10px;
	margin: 10px;
	font-family: Gill Sans, sans-serif;
}
.summ2{
	color: #FA8072;
	font-size: 25px;
	font-weight: 700px;
	text-align: center;
	padding: 10px;
	margin: 10px;
	font-family: Gill Sans, sans-serif;
}

.fl{
	display: flex;
	justify-content: space-around;
}
body{
	font-family: Gill Sans, sans-serif;
	background: #E6E6FA;

}

.similar{
	background: #D8BFD8;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 70px;
	color: black;
	font-size: 36px;
	letter-spacing: 2px;
	border-radius: 15px;
	
	margin-bottom: 5px;
}

.formula{
	font-size: 16px;
	font-weight: 400;
}

.form {
	align-items: center;
	display: flex;
	flex-direction: column;
	margin-top: 60px;
	grid-gap: 15px;
    row-gap: 15px;
    column-gap: 15px;
}

input{
	ont-family: Halvetica, Arial, sans-serif;
	letter-spacing: 2px;
	padding: 10px;
	margin: 10px;
	height: 38px;
	width: 500px;
	background: white;
	border: solid #FFB6C1;
	border-radius: 100px;
	box-shadow: 0px 1px 11.04px 0.96px rgb(0 0 0 / 15%);
	text-align: center;
	}

.label{
	align-items: center;
	display: flex;
	flex-direction: column;
	margin-top: 20px;
	grid-gap: 15px;
    row-gap: 15px;
    column-gap: 15px;
}